<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main</title>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Main</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a href="login" class="mdl-navigation__link">Login</a>
        <a href="signup" class="mdl-navigation__link">Signup</a>
        <a href="post" class="mdl-navigation__link">Post</a>
       
      </nav>
    </div>
  </header>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_green-green.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
 <body>
          
          {% if logado == True %}
          Usuário está logado!
          {% else %}
          Usuário não está logado!
          {% endif %}
        {% for post in posts %}
        <div class="mdl-card demonstracao-card mdl-shadow--16dp">
          <div class="mdl-card__title">
            <h5>{{post.title}}</h5>
          </div>				
          <div class="mdl-card__actions mdl-card--border" align="left">

            <h5>{{post.text}}</h5>
          </div>
        </div>
        <br>
{% endfor %}

 
 
  </body>
</html>
