<html>
  <head>
    <title>Douglas blog!</title>
  </head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Douglas_Blog</title>

    
  <body>
<body bgcolor="#b9f6ca">
   
  <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text"><font color=" #3f51b5" size="" face"verdana"</font> Preencha o cadastro</h2>

          </div>
           </div>
          <form id="form-login">
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Usuário</label>
              </div>
          <form id="form-login">
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Email</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="userpass">Senha</label>
              </div>
               <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="userpass">Repetir senha</label>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cadastra-se</button>
              
  </body>
</html>
     
